option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: RainforestApi.settings.production
    DUKE_RAINFOREST_AWS_ACCESS_KEY: access_key
    DUKE_RAINFOREST_AWS_SECRET_KEY: secret_key
    DUKE_RAINFOREST_MYSQL_HOST: mysql_host
    DUKE_RAINFOREST_MYSQL_PASSWORD: mysql_password
    DUKE_RAINFOREST_SECRET: secret
  aws:elasticbeanstalk:container:python:
    WSGIPath: RainforestApi.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
